<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock title %}</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav>
        <div class="nav-wrapper teal darken-4 ">

            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="{{url_for('home')}}" style="font-size:32px">
                        <span class="material-symbols-outlined"> neurology </span>
                        Brainiac
                    </a>
                </li>
                {% block dashboard %}

                {% endblock dashboard %}
            </ul>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {# <li class="{{ 'active' if request.path == url_for('index.html') else '' }}"><a
                        href="{{ url_for('index.html') }}">Homepage</a></li> #}
                {% block links %}
                {# insert page-specific links here #}

                {% endblock links %}
            </ul>

        </div>
    </nav>


    {% block content%}

    {# insert page-specific content here #}
    {% endblock %}


    <footer class="page-footer teal darken-4 ">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2024 - GG&YSJ
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/materialize.js')}}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});

        });

        document.getElementById('editButton').onclick = function () {
            document.getElementById('details').style.display = 'none';
            document.getElementById('editForm').style.display = 'block';
        };
    </script>


    {#
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, {});
        });
    </script>

    <script>
        document.getElementById('editDoctorButton').onclick = function () {
            document.getElementById('doctorDetails').style.display = 'none';
            document.getElementById('editDoctorForm').style.display = 'block';
        };
    </script>


    <script>
        document.getElementById('editPatientButton').onclick = function () {
            document.getElementById('patientDetails').style.display = 'none';
            document.getElementById('editPatientForm').style.display = 'block';
        };
    </script> #}

</body>

</html>