{% extends "base.html" %}

{% block title %}Patient {{patient_data['user_id']}}, Case {{case_number}}{% endblock title %}


{% block dashboard %}
<li class="{{ 'active' if request.path == url_for('doctor.dashboard') else '' }}">
    <a href="{{ url_for('doctor.dashboard') }}">Dashboard</a>
</li>
{% endblock dashboard %}


{% block links %}
<span>Logged in as {{user_id}}</span>
<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
{% endblock links %}


{% block content %}

<center>
    <h1>Patient {{patient_data['user_id']}}, Case {{case_number}}</h1>
</center>

<div class="card horizontal" style="margin: 0 15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style=" margin-top: 0;">Patient Information</h2>
            <div id="patient-info">
                <p>
                    <bold>First Name:</bold>
                    <span>{{ patient_data['first_name'] }}</span>
                </p>
                <p>
                    <bold>Last Name:</bold>
                    <span>{{ patient_data['last_name'] }}</span>
                </p>
                <p>
                    <bold>Gender:</bold>
                    <span>{{ patient_data['gender'] }}</span>
                </p>
                <p>
                    <bold>Phone Number:</bold>
                    <span>{{ patient_data['phone_number'] }}</span>
                </p>
                <p>
                    <bold>Birthday:</bold>
                    <span>{{ patient_data['birthday'] }}</span>
                </p>
                <p>
                    <bold>Email ID:</bold>
                    <span>{{ patient_data['email_id'] }}</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        {% if image_urls %}
        <div class="card horizontal" style="margin: 1% 15%; ">
            <div class="card-stacked">
                <div class="card-content">
                    <h2 style="margin-top: 0;">Case Images</h2>
                    {% for url in image_urls %}
                    <img src="{{ url }}" alt="Case image" style="margin: 10px; height: 200px; width: auto;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No images available for this case.</p>
    {% endif %}
</div>
</div>


{% endblock content %}