{% extends "base.html" %}

{% block title %}Patient {{patient_data['user_id']}}, Case {{case_number}}{% endblock title %}


{% block dashboard %}
<li class="{{ 'active' if request.path == url_for('doctor.dashboard') else '' }}">
    <a href="{{ url_for('doctor.dashboard') }}">Dashboard</a>
</li>
{% endblock dashboard %}


{% block links %}
<span>Logged in as {{user_id}}</span>
<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
{% endblock links %}


{% block content %}

<center>
    <h1>Patient {{patient_data['user_id']}}, Case {{case_number}}</h1>
</center>

<div class="card horizontal" style="margin: 0 15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style=" margin-top: 0;">Patient Information</h2>
            <div id="patient-info">
                <p>
                    <bold>First Name:</bold>
                    <span>{{ patient_data['first_name'] }}</span>
                </p>
                <p>
                    <bold>Last Name:</bold>
                    <span>{{ patient_data['last_name'] }}</span>
                </p>
                <p>
                    <bold>Gender:</bold>
                    <span>{{ patient_data['gender'] }}</span>
                </p>
                <p>
                    <bold>Phone Number:</bold>
                    <span>{{ patient_data['phone_number'] }}</span>
                </p>
                <p>
                    <bold>Birthday:</bold>
                    <span>{{ patient_data['birthday'] }}</span>
                </p>
                <p>
                    <bold>Email ID:</bold>
                    <span>{{ patient_data['email_id'] }}</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="card horizontal" style="margin: 1% 15%; ">
            <div class="card-stacked">
                <div class="card-content">
                    <h2 style="margin-top: 0;">Case Images</h2>
                    {% for url in patient_data.case_details["case"+case_number|string]["scans"] %}
                    <img src="{{ url }}" alt="Case image" style="margin: 10px; height: 200px; width: auto;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{# Brainiac's Diagnosis #}

<div class="card horizontal" style="margin: 0 15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style=" margin-top: 0;">Brainiac's Diagnosis</h2>
            <div id="diagnosis-info">
                <p>
                    Diagnosis: Cancer
                </p>
                <p>
                    Accuracy: 100%
                </p>
            </div>
        </div>
    </div>
</div>

{# Treatment plan #}
<div class="card horizontal" style="margin: 1%  15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style=" margin-top: 0;">Treatment Plan</h2>
            <div id="details">
                <p>
                    Treatment Plan: Stop sharing cigarettes
                </p>
                <button class="btn waves-effect waves-light" id="editButton">Edit</button>
            </div>

            <form id="editForm" style="display: none;" method="POST" action="">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="treatment" id="treatement" cols="30" rows="10"
                            class="materialize-textarea"></textarea>
                        <label for="treatment">Treatment Plan:</label>
                        <button type="button" class="btn waves-effect waves-light">Submit Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}