{% extends "base.html" %}

{% block title %}Doctor Dashboard{% endblock title %}

{% block links %}
{# <li class="{{ 'active' if request.path == url_for('doctor.dashboard') else '' }}">
    <a href="{{ url_for('doctor.dashboard') }}">Dashboard</a>
</li> #}
<span>Logged in as {{doctor.user_id}}</span>
<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
{% endblock links %}

{% block content %}
<center>
    <h1>Welcome to Your Doctor Dashboard</h1>

</center>

<!-- Display  doctor Details -->
<div class="container">
    <h2>Your Medical Details:</h2>
    <div id="doctorDetails">
        <p><strong>First Name:</strong> {{ doctor.first_name }}</p>
        <p><strong>Last Name:</strong> {{ doctor.last_name }}</p>
        <p><strong>Gender:</strong> {{ doctor.gender }}</p>
        <p><strong>Phone:</strong> {{ doctor.phone_number }}</p>
        <p><strong>Birthday:</strong> {{ doctor.birthday }}</p>
        <p><strong>Email:</strong> {{ doctor.email_id }}</p>
        <button class="btn waves-effect waves-light" id="editButton">Edit</button>
    </div>

    <!-- Hidden form for editing details -->
    <form id="editForm" style="display: none;" method="POST" action="/update_doctor_details">
        <input type="text" name="first_name" value="{{ doctor.first_name }}" placeholder="First Name">
        <input type="text" name="last_name" value="{{ doctor.last_name }}" placeholder="Last Name">
        <input type="text" name="gender" value="{{ doctor.gender }}" placeholder="Gender">
        <input type="text" name="phone_number" value="{{ doctor.phone_number }}" placeholder="Phone Number">
        <input type="date" name="birthday" value="{{ doctor.birthday }}" placeholder="Birthday">
        <input type="email" name="email_id" value="{{ doctor.email_id }}" placeholder="Email">
        <button type="submit" class="btn waves-effect waves-light">Submit Changes</button>
    </form>
</div>

<!-- Display Case Images Section -->


<div>
    <h1>Case Images</h1>
    {% if cases %}
    {% for (patient_id, case_number), urls in cases.items() %}
    <a href="{{ url_for('doctor.view_case', patient_id=patient_id, case_number=case_number) }}">
    <p>Patient ID : {{ patient_id }}, Case No: {{ case_number }}: </p>
    </a>
    {% for url in urls %}
        <img src="{{ url }}" alt="Case {{ case_number }} image" height="150" width="150">
    {% endfor %}
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}