{% extends "base.html" %}

{% block links %}
{# <li class="{{ 'active' if request.path == url_for('doctor.dashboard') else '' }}">
    <a href="{{ url_for('doctor.dashboard') }}">Dashboard</a>
</li> #}
<span>Logged in as {{doctor.user_id}}</span>
<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
{% endblock links %}

{% block content %}
<center>
    <h1>Welcome to Your Doctor Dashboard</h1>

</center>

<!-- Display  doctor Details -->
<hr>
<div>
    <h2>Your Medical Details:</h2>
    <p>
        <bold>First Name:</bold> {{ doctor.first_name }}
    </p>
    <p>
        <bold>Last Name:</bold> {{ doctor.last_name }}
    </p>
    <p>
        <bold>Gender:</bold> {{ doctor.gender}}
    </p>
    <p>
        <bold>Phone:</bold> {{ doctor.phone_number}}
    </p>
    <p>
        <bold>Birthday:</bold> {{ doctor.birthday}}
    </p>
    <p>
        <bold>Email:</bold> {{ doctor.email_id}}
    </p>
</div>
<hr>

<!-- Display Case Images Section -->


<div>
    <h1>Case Images</h1>
    {% if cases %}
    {% for (patient_id, case_number), urls in cases.items() %}
    <a href="{{ url_for('doctor.view_case', patient_id=patient_id, case_number=case_number) }}">
    <p>Patient ID : {{ patient_id }}, Case No: {{ case_number }}: </p>
    </a>
    {% for url in urls %}
        <img src="{{ url }}" alt="Case {{ case_number }} image" height="150" width="150">
    {% endfor %}
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}