{% extends "base.html" %} {% block title %}Homepage{% endblock title %} {% block
links %}
<li><a href="{{ url_for('auth.register') }}">Register</a></li>
<li><a href="{{ url_for('auth.login')}}">Login</a></li>
{% endblock links %} {% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br /><br />
            <h1 class="header center teal-text text-lighten-3">
                Brainiac: Brain Tumor Diagnosis
            </h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">
                    A state-of-the-art platform utilizing a hybrid deep learning
                    model to revolutionize the diagnosis and case management of
                    brain tumors.
                </h5>
            </div>
            <div class="row center">
                <a href="{{url_for('auth.register')}}" id="download-button"
                    class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="parallax">
        <img src="{{url_for('static', filename='images/background1.jpg')}}" alt="Unsplashed background img 1" />
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-darken-4">
                        <i class="material-icons" style="font-size: 44px">flash_on</i>
                    </h2>
                    <h5 class="center">Revolutionizing Diagnosis</h5>

                    <p class="light">
                        Brainiac utilizes a hybrid deep learning model to
                        revolutionize the diagnosis and case management of brain
                        tumors. Our AI-driven model scrutinizes MRI scans to
                        predict potential diagnoses with varying degrees of
                        confidence.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-darken-4">
                        <i class="material-icons" style="font-size: 44px">group</i>
                    </h2>
                    <h5 class="center">Optimized Resource Allocation</h5>
                    <p class="light">
                        Brainiac employs an intelligent Doctor Allocation
                        Algorithm, designed to route cases to medical
                        professionals based on the complexity indicated by the
                        model’s confidence level. This ensures an optimal
                        utilization of expertise and resources within the
                        healthcare system.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center teal-text text-darken-4">
                        <i class="material-icons" style="font-size: 44px">settings</i>
                    </h2>
                    <h5 class="center">User-Friendly Interface</h5>

                    <p class="light">
                        Both patients and doctors have access to the diagnosis
                        and treatment plans via a user-friendly web portal. For
                        doctors, this portal also functions as a validation and
                        treatment planning tool, allowing them to review the
                        AI's predictions, make informed decisions, and outline
                        treatment strategies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="headerlight white-text">
                    A modern responsive front-end framework based on Material
                    Design
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="{{url_for('static', filename='images/background2.jpg')}}" alt="Unsplashed background img 1" />
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send teal-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam scelerisque id nunc nec volutpat. Etiam pellentesque
                    tristique arcu, non consequat magna fermentum ac. Cras ut
                    ultricies eros. Maecenas eros justo, ullamcorper a sapien
                    id, viverra ultrices eros. Morbi sem neque, posuere et
                    pretium eget, bibendum sollicitudin lacus. Aliquam eleifend
                    sollicitudin diam, eu mattis nisl maximus sed. Nulla
                    imperdiet semper molestie. Morbi massa odio, condimentum sed
                    ipsum ac, gravida ultrices erat. Nullam eget dignissim
                    mauris, non tristique erat. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae;
                </p>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light white-text">
                    A modern responsive front-end framework based on Material
                    Design
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="{{url_for('static', filename='images/background3.jpg')}}" alt="Unsplashed background img 1" />
    </div>
</div>

{% endblock content %}