{% extends "base.html" %}

{% block links %}
<li> <a href="{{ url_for('auth.register') }}">Register</a> </li>
<li><a href="{{ url_for('auth.login')}}">Login</a></li>
{% endblock links %}

{% block content %}
<div class="center">
    <h1>Welcome to Brainiac!</h1>

    <p>Knock, knock.</p>
    <p>Who's there?</p>
    <p>Brain.</p>
    <p>Brain who?</p>
    <p>Brainiac, a hybrid deep learning based .....</p>
    <p>Oh shut up</p>

    {# <p>Register <a href="{{ url_for('auth.register') }}">here</a>.</p>
    <p>Login <a href="{{ url_for('auth.login') }}">here</a>.</p> #}

</div>

{% endblock content %}