{% extends "base.html" %}

{% block title %}Patient Dashboard{% endblock title %}

{% block links %}
{# <li class="{{ 'active' if request.path == url_for('patient.dashboard') else '' }}">
    <a href="{{ url_for('patient.dashboard') }}">Dashboard</a>
</li> #}
<span>Logged in as {{patient.user_id}}</span>
<li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
{% endblock links %}

{% block content %}
<center>
    <h1>Welcome to Your Patient Dashboard</h1>

</center>

<!-- Display Patient Medical Details -->

<div class="card horizontal" style="margin: 0 15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style=" margin-top: 0;">Your Medical Details</h2>
            <div id="details">
                <p>
                    <bold>First Name:</bold> {{ patient.first_name }}
                </p>
                <p>
                    <bold>Last Name:</bold> {{ patient.last_name }}
                </p>
                <p>
                    <bold>Gender:</bold> {{ patient.gender}}
                </p>
                <p>
                    <bold>Phone:</bold> {{ patient.phone_number}}
                </p>
                <p>
                    <bold>Birthday:</bold> {{ patient.birthday}}
                </p>
                <p>
                    <bold>Email:</bold> {{ patient.email_id}}
                </p>
                <button class=" btn waves-effect waves-light" id="editButton">Edit</button>
            </div>

            <!-- Hidden form for editing details -->
            <form id="editForm" style="display: none;" method="POST" action="{{url_for('patient.edit')}}">
                <input type="text" name="first_name" value="{{ patient.first_name }}" placeholder="First Name">
                <input type="text" name="last_name" value="{{ patient.last_name }}" placeholder="Last Name">
                <input type="text" name="gender" value="{{ patient.gender }}" placeholder="Gender">
                <input type="text" name="phone_number" value="{{ patient.phone_number }}" placeholder="Phone Number">
                <input type="date" name="birthday" value="{{ patient.birthday }}" placeholder="Birthday">
                <input type="email" name="email_id" value="{{ patient.email_id }}" placeholder="Email">
                <button type="submit" class="btn waves-effect waves-light">Submit Changes</button>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Upload MRI Scans Section -->
<div class="card horizontal" style="margin: 0 15%;">
    <div class="card-stacked">
        <div class="card-content" style="text-align: left;">
            <h2 style="margin-top: 0;">Upload MRI Scans</h2>
            <form action="{{ url_for('patient.upload_image') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="scans" accept=".jpg, .jpeg, .png" multiple required><br>
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>
</div>


<hr>

<!-- Display Case Images Section -->

<div>
    <h2 style="margin-left:17%;">Case Images</h1>
        <div class="row">
            {% if cases %}
            {% set count = 0 %}
            {% for case, urls in cases.items() %}
            {% set count = loop.index %}
            {# <div class="col s12 m6 offset-m3"> #}
                <div class="card horizontal" style="margin: 1% 15%; ">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-weight: 600; font-size:32px"> Case {{count}}: </p>
                            {% for url in urls %}
                            <img src=" {{ url }}" alt="{{ case }} image" height="150" width="150">
                            {% endfor %}

                            <p>Status: Pending</p>
                            <p>patient Name: patient</p>
                            <p>Diagnosis: Cancer</p>
                            <p>Treatment: You're gonna die</p>
                        </div>
                        {# <div class="card-action">
                            <a href="#">This is a link</a>
                        </div> #}

                    </div>
                </div>
                {#
            </div> #}
            {% endfor %}
            {% endif%}
        </div>
</div>



{# imas #}

{% endblock content %}