{% extends "base.html" %}

{% block links %}
{# <li class="{{ 'active' if request.path == url_for('patient.dashboard') else '' }}">
    <a href="{{ url_for('patient.dashboard') }}">Dashboard</a>
</li> #}
<span>Logged in as {{patient.user_id}}</span>
<li><a href="#">Logout</a></li>
{% endblock links %}

{% block content %}
<center>
    <h1>Welcome to Your Patient Dashboard</h1>

</center>

<!-- Display Patient Medical Details -->
<hr>
<div>
    <h2>Your Medical Details:</h2>
    <p>
        <bold>First Name:</bold> {{ patient.first_name }}
    </p>
    <p>
        <bold>Last Name:</bold> {{ patient.last_name }}
    </p>
    <p>
        <bold>Gender:</bold> {{ patient.gender}}
    </p>
    <p>
        <bold>Phone:</bold> {{ patient.phone_number}}
    </p>
    <p>
        <bold>Birthday:</bold> {{ patient.birthday}}
    </p>
    <p>
        <bold>Email:</bold> {{ patient.email_id}}
    </p>
</div>
<hr>

<!-- Upload MRI Scans Section -->
<h2>Upload MRI Scans:</h2>
<form action="{{ url_for('patient.upload_image') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="scans" accept=".jpg, .jpeg, .png" multiple required><br>
    <button type="submit">Upload</button>
</form>

<hr>

<!-- Display Case Images Section -->


<div>
    <h1>Case Images</h1>
    {% if cases %}
    {% for case, urls in cases.items() %}
    <p>{{ case }}: </p>
    {% for url in urls %}
    <img src="{{ url }}" alt="{{ case }} image" height="150" width="150">
    {% endfor %}
    {% endfor %}
    {% endif%}

</div>
{% endblock content %}